body {
  font-family: $font;
}

main {
  margin-inline: auto;
}

form {
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  border-radius: 30px;
  & > *:not(:last-child) {
    width: 100%;
  }
}

.petsList {
  padding-left: 0;
  li {
    list-style: none;
    padding: $space;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    span {
      font-weight: 500;
    }
  }
}
